<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
