<form action="/memos/create" method="post">
  <label for="title">タイトル</label>
  <input type="text" name="title" id="title">
  <label for="content">内容</label>
  <textarea name="content" id="content" cols="30" rows="10"></textarea>
  <button type="submit">保存</button>
</form>
