<div>
  <div>
    <p>タイトル</p>
    <p><%= @memo["title"] %></p>
  </div>
  <div>
    <p>内容</p>
    <p><%= @memo["content"] %></p>
  </div>
</div>
<div>
  <div>
    <a href="/memos/<%= params[:id] %>/edit">変更</a>
  </div>
  <div>
    <form action="/memos/<%= params[:id] %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">削除</button>
    </form>
  </div>
  <div>
    <a href="/">トップに戻る</a>
  </div>
</div>
